h1{
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.writting-sec{
    width: 60%;
    padding: 5%;
}
.pic-sec{
    width: 40%;
    padding: 5%;
}
.pic-sec img{
    width: 80%;
    border-radius: 50%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 2%;
    border-radius: 10%;

}
.top-corner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}